.implicit {
    opacity: .45;
}

.imprecise {
    color: orange;
}

.range_error_result {
    font-size: 60% !important;
}

.prompt {
    font-size: 30% !important;
    opacity: .15;
    vertical-align: text-top;
}

.wings {
    position:relative;
}

.witw {
    visibility: hidden;
}

.pwitw {
    visibility: hidden;
    position:absolute;
    top:0;
    text-align: left;
}

.significant {
    background-color: #fff4;
}
